.*
!.mvn/extensions.xml
!.mvn/settings.xml
!.editorconfig
!.gitignore
!.gitattributes
.idea
/config/
bin/
*.iml
*git.properties
*.tokens
docs/build/html/*
docs/build/*

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Compiled class file
*.class

# Log file
*.log
